<html lang='en'>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-59229221-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-59229221-3');
        </script>
        <meta charset='utf-8'>
        <title>Young Me Up</title>
        <link rel='stylesheet' href='../static/style.css'>
        <script src='../static/client.js'></script>
        <link rel="shortcut icon" type="image/png" href='/static/assets/favicon.ico'/>
    </head>
    <body>
        <div>
            <div class='center'>
                <div class='title'>How old do you look?</div>
                <div class='subtitle'>A.I. calculates your age</div>
                <div class='subtitle'>and our <span id="grad1">MAGIC</span> makes you 10 years younger!</div>
                <div class='content'>
                    <div id='original'>
                        <img class=default src='../static/assets/icon.png' >
                    </div>
                    <div class='no-display'>
                        <input id='file-input'
                            class='no-display'
                            type='file'
                            name='file'
                            accept='image/*'
                            onchange='showPicked(this)'>
                    </div>
                    <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
                    <!-- <div class='upload-label'>
                        <label id='upload-label'>No file chosen</label>
                    </div> -->
                    <div>
                        <img id='image-picked' class='no-display' alt='Chosen Image' height=300>
                    </div>
                    <div class='analyze'>
                        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Get 10 Years Younger</button>
                    </div>
                    <div class='result-label'>
                        <label id='result-label'></label>
                    </div>
                    <div class='attribution'>UX by <a href="http://www.scottmaloff.com/">Scott Maloff</a>. Icons by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> and <a href="https://www.flaticon.com/authors/smalllikeart" title="smalllikeart">smalllikeart</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>.</div>
                </div>
            </div>
        </div>
    </body>
</html>
